/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f1f1f1;
}

/* navbar */
.navbar {
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  border-bottom: 1px solid #eeeeee;
}

.logo {
  width: 8em;
  height: auto;
  vertical-align: middle;
}

.search-button {
  border: 1px solid #bdbdbd;
  background-color: lightgray;
  padding-left: 15px;
  padding-right: 15px;
}

.fa {
  color: #bdbdbd;
}

.sign-in-button {
  background-color: #157ac5;
  color: white;
}

.navbar-element {
  height: 30px;
  vertical-align: middle;
}

#search-bar {
  height: 30px;
}

.language {
  background-color: #157ac5;
  display: flex;
  flex-direction: column;
  border: #157ac5 solid 2px;
  margin: 10px 2px;
}

.blue p {
  display: inline;
}

.blue,
.white {
  width: 100%;
}

.white {
  background-color: white;
}

.container {
  display: flex;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* left menu */
.left-menu {
  width: 70%;
}

.player {
  margin-bottom: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 2px;
  padding: 15px;
  margin: 10px 2px;
}

.right-menu {
  width: 30%;
  background-color: green;
  margin-left: 10px;
}

.icon {
  display: flex;
  flex-direction: row;
}

.icon button {
  background-color: red;
  color: white;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.user-img {
  padding: 10px;
  background-color: green;
  font-style: bold;
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
}

.channel-info {
  display: flex;
  flex-direction: column;
}

.views {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-self: flex-end;
}
