/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f1f1f1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* navbar */
.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px;
}

.fa-2x {
  font-size: 1.5em;
}

.group-menu {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.logo {
  height: 30px;
  vertical-align: middle;
  display: flex;
  margin-left: 10px;
}

.search-bar-group {
  display: flex;
  flex: 1;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.search-button {
  border: 1px solid #bdbdbd;
  background-color: #f1f1f1;
  padding-left: 15px;
  padding-right: 15px;
  border-left: none;
}

#search-bar {
  height: 30px;
  width: 100%;
  padding-left: 5px;
}

.navbar-icon {
  margin-right: 20px;
  margin-left: 20px;
  color: #bdbdbd;
}

.fa {
  color: #bdbdbd;
}

.upload-signin-group {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.sign-in-button {
  background-color: #157ac5;
  color: white;
  width: 80px;
  border: none;
  border-radius: 3px;
}

.navbar-element {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  background-color: #157ac5;
  color: white;
  display: flex;
  flex-direction: column;
  border: #157ac5 solid 2px;
  margin: 10px 2px;
}

.language .fa {
  color: white;
}

.blue-right {
  display: flex;
}

.blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue p {
  display: inline;
  margin-left: 10px;
}

.blue,
.white {
  width: 100%;
  padding: 9px;
}

.white {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  line-height: 20px;
}

.white a {
  color: #157ac5;
}

.container {
  display: flex;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* left menu */
.left-menu {
  width: 70%;
}

.player {
  margin-bottom: 10px;
}

.title h2 {
  margin-bottom: 10px;
  font-family: 'Roboto';
  color: #0d0d0d;
  max-height: 4.8rem;
  font-weight: 400;
  line-height: 24px;
  size: 18px;
  font-style: normal;
}

.description {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  margin: 10px 2px;
}

.icon {
  display: flex;
  flex-direction: row;
}

.icon button {
  background-color: red;
  color: white;
  border: none;
  padding: 0 5px;
}

.subscriber-count {
  border: 1px solid #bdbdbd;
  border-left: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 5px;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.user-img {
  padding: 10px;
  background-color: green;
  font-weight: 400;
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
  width: 30px;
}

.channel-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.views {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-self: flex-end;
}

.divider {
  display: flex;
  margin-bottom: 10px;
}

.divgray {
  width: 95%;
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 1px;
}

.divblue {
  width: 30%;
  align-self: flex-end;
  border: 1.5px solid #157ac5;
}

/* stats */
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.stats-left {
  display: flex;
}

.stats-left i {
  margin-right: 10px;
  color: #606060;
}

.stats-left-icon {
  display: flex;
  flex-direction: row;
}

.likes {
  display: flex;
}

.likes i {
  margin-right: 10px;
  color: #606060;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 2px;
  background-color: white;
  padding: 10px;
}

/* right menu */
.right-menu {
  width: 30%;
  background-color: white;
  margin-left: 10px;
}

/* header */

.right-next {
  display: flex;
  flex-direction: row;
}

.right-menu i {
  margin: 0 5px;
}

.up-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px;
  font-size: 13px;
  font-weight: 500;
  color: #606060;
}

.fa-toggle-on {
  color: #157ac5;
  font-size: 1.5em;
}
/* preview videos */
.preview-video {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.preview-video img {
  display: flex;
  flex: 1;
  width: 50%;
  height: auto;
  margin-right: 10px;
}

.preview-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

/* footer */
.footer {
  margin-top: 40px;
  padding: 10px 30px;
}

.language-selector {
  margin-bottom: 10px;
}

.language-button {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.language-button p {
  margin: 0 10px;
}

.about {
  margin: 10px 0px;
}

.about a {
  font-weight: 500;
  font-size: 13px;
  color: #333333;
  margin-right: 10px;
}

.terms a {
  font-weight: 500;
  font-size: 11px;
  color: #666666;
  margin-right: 10px;
}
